---
layout: default2
themen:
  - afd: >-
      - mehrgliedriges, nach Begabung differenziertes Schulsystem erhalten<br>-
      Erhalt von Förder- und Sonderschulen<br> - einheimische Schüler durch
      Beschulung von Asylbewerbern nicht in ihrem Lernfortschritt behindern<br>
      - Diplom- und Magisterstudiengänge wieder einführen <br>- Hochschulen
      sollen das Recht besitzen, Bewerber durch Aufnahmeprüfungen
      auszuwählen<br>- keinen islamischen Religionsunterricht an staatlichen
      Schulen
    cdu: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    die-gruenen: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    die-linke: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    fdp: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    href: bildung
    spd: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    thema: Bildung
  - afd: >-
      aljhfljhdsfbjlabdfha Lorem ipsum dolor sit amet, consectetur adipisicing
      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
    cdu: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    fdp: aldfjhgsdashjDFHGBVCHFSZRFHSDBISFDF
    href: digitalisierung
    thema: Digitalisierung
  - href: steuern
    thema: Steuern
  - href: sicherheit
    thema: Sicherheit
  - href: eu
    thema: EU
  - href: familie
    thema: Familie
  - die-linke: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    href: inklusion
    spd: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    thema: Inklusion
---
<section id="#button-section" class="text-section button-section">
  {% for themen in page.themen%}
  <div class="button">
      <a href="#{{themen.href}}" class="smooth-scroll">{{themen.thema}}</a>
  </div>
  {% endfor %}
</section>


<section class="text-section vergleich">
  {% for themen in page.themen%}
  <div id="{{themen.href}}" class="title centered">
      <h2>{{themen.thema}}</h2>
  </div>
  <div class="grid">
    <div class="partei-zeile grid">
      <div class="partei col-3">
        <p>AfD</p>
      </div>
      <div class="beschreibung col-9">
        <p>{{themen.afd}}</p>
      </div>
    </div>
    <div class="partei-zeile grid">
      <div class="partei col-3">
        <p>CDU</p>
      </div>
      <div class="beschreibung col-9">
        <p>{{themen.cdu}}</p>
      </div>
    </div>
    <div class="partei-zeile grid">
      <div class="partei col-3">
        <p>Die Grünen</p>
      </div>
      <div class="beschreibung col-9">
        <p>{{themen.die-gruenen}}</p>
      </div>
    </div>
    <div class="partei-zeile grid">
      <div class="partei col-3">
        <p>Die Linke</p>
      </div>
      <div class="beschreibung col-9">
        <p>{{themen.die-linke}}</p>
      </div>
    </div>
    <div class="partei-zeile grid">
      <div class="partei col-3">
        <p>FDP</p>
      </div>
      <div class="beschreibung col-9">
        <p>{{themen.fdp}}</p>
      </div>
    </div>
      <div class="partei-zeile grid">
        <div class="partei col-3">
          <p>SPD</p>
        </div>
        <div class="beschreibung col-9">
          <p>{{themen.spd}}</p>
        </div>
      </div>
  </div>
  {% endfor %}
</section>
