<footer>
  <div class="footerrow grid-spaceBetween">
    <div class="col-2">
      <h4 class="footer-heading">Parteien</h6>
      <a class="sitemap" href="#">AfD</a>
      <a class="sitemap" href="#">CDU</a>
      <a class="sitemap" href="#">Die Grünen</a>
      <a class="sitemap" href="#">Die Linke</a>
      <a class="sitemap" href="#">FDP</a>
      <a class="sitemap" href="#">SPD</a>
    </div>
    <div class="col-3">
      <h4 class="footer-heading">Impressum & CO</h6>
      <a class="sitemap" href="#">Impressum</a>
      <a class="sitemap" href="#">Quellenangaben</a>
    </div>
  </div>
  <div class="copy-info centered">
    <h4>&copy 2017</h4>
  </div>
</footer>
