<footer>
  <div class="footerrow grid">
    <div class="footerNav col-4 centered">
    </div>
    <div class="subscribe col-4">
      <form method="POST" action="http://formspree.io/lene_schargitz@outlook.de">
        <div class="inputfooter centered">
          <label for="name"> <h3>Subscribe</h3></label>
          <input class="centered" type="name" name="name" placeholder="Name">
        </div>
        <div class="inputfooter centered">
          <input class="centered" type="email" name="email" placeholder="Email">
        </div>
        <div class="button centered" id="footerbutton">
          <button type="submit">Send</button>
        </div>
      </form>
    </div>
    <div class="col-4-middle">
      <div>
        <!-- search bar -->
      </div
    </div>
  </div>
</footer>
