<!-- <header id="home">
    <nav class="right">
      <div class="container">
        <ul>
          <li><a>Parteien</a>
            <ul>
              <li class="submenu"><a href="#">CDU</a></li>
              <li class="submenu"><a href="#">SPD</a></li>
              <li class="submenu"><a href="#">FDP</a></li>
              <li class="submenu"><a href="#">Die Grünen</a></li>
              <li class="submenu"><a href="#">Die Linke</a></li>
              <li class="submenu"><a href="#">AfD</a></li>
            </ul>
          </li>
          <li><a href="#">Im Vergleich</a></li>
        </ul>
      </div>
    </nav>
</header> -->

  <nav id="home-navigation" class="nav-bar centered">
    <a href="#parteien">Die Parteien</a>
    <a href="#">Im Vergleich</a>
  </nav>
