---
layout: default2
---
<section class="banner-section grid-right-spaceBetween-bottom">
  <div class="col-1">
    <img src="/images/{{page.partei-logo}}" alt="">
  </div>
  <h1 class="col-9 right">{{ page.full-name }}</h1>
</section>
<section class="party-section">
  <div class="grid">
    {% for programm in page.programm %}
    <div class="col-4 thema">
      <h3>{{ programm.thema }}</h3>
    </div>
    <div class="col-8 thema-beschreibung">
      <p>{{ programm.thema-beschreibung}}</p>
    </div>
    {% endfor %}
  </div>
</section>

<section class="text-section grid">

</section>
